<div class="metadata">
  <span class="submitter">{{comment.username}}</span> |
  <span class="submitted">{{comment.submitted}}</span>
</div>

<div class="body" style="{{bodyStyle}}">{{comment.body}}</div>
