<div class="app-bar">
  <div class="gutter" {{action "toggleNavBar"}}>
    <i class="icon-menu {{if showingNavBar 'rotate-cw'}}"></i>
  </div>
  <h1>YTS Reader</h1>
</div>

<div class="app-bar-shadow"></div>

<nav class="app-nav app-panel">
  {{#link-to "movies" (query-params filter="front-page") title="Front Page"}}
    <div class="gutter"><i class="icon-news"></i></div> Front Page
  {{/link-to}}
</nav>


<div class="app-main {{if showingNavBar 'slide-out'}}">
  {{outlet}}
</div>

