<div class="app-sidebar app-panel">
  <ol class="stories">
    {{#each model as |movie|}}
      {{movie-card tagName="li" movie=movie}}
    {{/each}}
  </ol>
</div>

<div class="app-content {{if hasContent active}}">
  {{outlet}}
</div>
